.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: radial-gradient(ellipse at top left, #060d1b, #382457);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  
}

.dark .navbar {
  background-color: rgba(17, 17, 17, 0.9);
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #00ffff;
  cursor: pointer;
  transition: color 0.3s ease;
}
.logoLink {
  color: #71f4f4;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color:#00ffff;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  position: relative;
  color: #9de1e1;
  padding: 10px 20px;
  border-radius: 9999px;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #fff;
  text-shadow: 0 0 5px #6b21a8, 0 0 10px #9333ea, 0 0 20px #bf00ff;
}

.navLink::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 2px;
  background: linear-gradient(45deg, #6b21a8, #9333ea, #bf00ff, #e347ff);
  background-size: 300% 300%;
  z-index: -1;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.navLink:hover::before {
  opacity: 1;
  transform: scale(1);
  animation: animate-border 4s linear infinite;
}

@keyframes animate-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.activeLink {
  font-weight: bold;
  color: #e347ff;
}

.themeToggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #6b21a8;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.themeToggle:hover {
  color: #9333ea;
  text-shadow: 0 0 10px #9333ea;
}

.menuIcon {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .mobile {
    display: flex !important;
    flex-direction: column;
    gap: 1.25rem;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background: radial-gradient(ellipse at top left, #0a0f1c, #060d1b);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-top: 1px solid #ccc;
  }

  .dark .mobile {
    background-color: rgba(0, 0, 0, 0.95);
  }
}
