.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.dark {
  color: rgb(15, 15, 15);
}

.logo h1 {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #6b21a8;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.logo h1:hover {
  color: #9333ea;
}

.logo a {
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLink {
  position: relative;
  font-size: 1rem;
  color: #6b21a8;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 9999px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  background: transparent;
}

/* HOVER EFFECT ONLY */
.navLink::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 2px;
  background: linear-gradient(45deg, #6b21a8, #9333ea, #bf00ff, #e347ff);
  background-size: 300% 300%;
  z-index: -1;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.4s ease, transform 0.4s ease;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

/* Hover triggers gradient border */
.navLink:hover::before {
  opacity: 1;
  transform: scale(1);
  animation: rotate-border 6s linear infinite;
}

@keyframes rotate-border {
  0% {
    background-position: 0% 50%;
    background-color: #6b21a8 ,#9333ea,#ffff}
  50% {
    background-position: 100% 50%;
    background-color: #2b21a8,#3f33ea,#ffff;
  }
  100% {
    background-position: 0% 50%;
    background-color: #a8212c,#ea3376,#ffff;

  }
}

.themeToggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #6b21a8;
  cursor: pointer;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.themeToggle:hover {
  color: #9333ea;
  box-shadow: 0 0 15px #9333ea;
}
